body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
    box-shadow: inset 10px 10px 30px green,
     inset 20px 20px 40px red,
     inset 100px 60px 50px gold
     ;
}

.song-item {
    justify-content: center;
    align-content: center;
    width: 40vw;
    height: 10vw;
    box-shadow: 2px 2px 7px 2px grey;
    display: flex;
    flex-direction: row-reverse;
    border-radius: 2px;
}

.song-item img {
    width: 100%;
    height: 100%;
}
.song-item a {
    font-size: 100%;
    height: 100%;
}

#blood {
    display: flex;
    flex-direction: row;
    position: absolute;
    left: 0px;
    right: 0px;
    z-index: 1;
    width:100%;
    height:30%;
    opacity: 50%;
    overflow: hidden;
}

#blood img {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}